body {font-family: Helvetica, sans-serif;}


p {color: red;
   font-family: 'Times New Roman', Times, serif;
}

ul {color: red;
   font-family: 'Times New Roman', Times, serif;
}

li {color: red;
   font-family: 'Times New Roman', Times, serif;
}


h1 {color: green;
    font-family: Helvetica, sans-serif;
    }


h2 {color: gold;
    font-family: Comic Sans MS, sans-serif;
    }
