body {font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif}
{
    .mg{background-color: red;}


h1 {color: green;
    font-family: Arial, Helvetica, sans-serif;
    }


h2 {color: silver;
    font-family: 'Comic Sans MS';
    }

}