body {
 font-family: sans-serif;
 background-color: rgb(12, 71, 106);
 background-image: url(http://backgroundcheckall.com/wp-content/uploads/2017/12/security-background.png);
 background-size: 100%;
 background-repeat: no-repeat;

}

h1 {
  font-family: sans-serif;
  color: darkblue;
}


.Banner {
position: absolute;
top: 0;
left: 0;
right: 0;
background: rgba(239, 228, 176, 0.8) ;
height: 80px;
width: 100%;
}

#pagetitle{
position: absolute;
top: 0;
padding-top: 23px;
padding-left: 120px;

}

#Site_Title {
padding: 0px 20px 20px 20px;
float:left;
}

#Tab {
padding: 15px 20px 10px 20px;
color: darkblue;
font-weight: bold;
float: right;
text-decoration: none;
text-decoration-line: none;
}

legend {
color: lightyellow;
background-color: darkblue;
border-radius: 5px;
padding: 5px 25px 5px 25px;
font-size: 22;
}

fieldset {
border-style: solid;
border-color: darkblue;
border-radius: 8px;
background: rgba(239, 228, 176, 0.8) ;
}

.Sign_up {
position: center;
padding-top: 150px;
margin: auto;
width:30%;
border-radius: 10px;

}


.Input {
color: grey;
float: bottom;
width: 100%
}


:focus.Details {
color: black;

}

.Entry_Box {
text-align: left;
margin: auto;
width: 95%;
}

#Name {
margin-bottom: 5px;
font-weight: bold;
}

.Warning {
text-align: center;
font-style: italic;
font-size: 14;
color: darkred;
}

.Hidden {
display: none;
visibility: hidden;
}


#Submit_button {
border-radius: 4px;
float: right;
right:0;
width: 70px;
margin-left: 13%;
margin-top: 30px;
}

:hover#Submit_button {
color:Darkblue;
background-color: darkgrey;
}

:active#Submit_button {
color: white;
background-color: black;
}

.footer {
font-size: 14;
padding-top: 5px;
text-align: center;
font-style: italic;
color: lightyellow;
}
