header, section, footer, aside, nav, article, figure {display:block;}

body {
  font-family: Helvetica, sans-serif;
}

p {
  color: black;
  font-family: Helvetica, Times, sans-serif;
}

ul {
  color: black;
  font-family: Helvetica, Times, sans-serif;
}

li {
  color: black;
  font-family: Helvetica, Times, sans-serif;
}

h1 {
  color: black;
  font-family: Helvetica, sans-serif;
}

h2 {
  color: black;
  font-family: Helvetica, sans-serif;
}


.Banner {
position: absolute;
top: 0;
left: 0;
right: 0;
background: grey ;
height: 100px;
width: 100%;
}

#pagetitle{
position: absolute;
top: 0;
padding-top: 23px;
padding-left: 10px;

}

#Site_Title {
padding: 0px 20px 20px 20px;
float:left;
}

.Tab_Banner {
margin-top: 25px;

}

.Tab {
  padding: 10px 10px 10px 10px;
  color: Black;
  font-weight: bold;
  float: left;
  text-decoration: none;
  text-decoration-line: none;
}



#Tab {
padding: 15px 20px 10px 20px;
color: Black;
font-weight: bold;
float: right;
text-decoration: none;
text-decoration-line: none;
}

#image {
margin-top: 100px;
}
